<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>VoxelShortener</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
	</head>
	<body>
		<div class="container">
			<h1>VoxelShortener</h1>
			<form action="/shortenURL" method="POST" class="my-4 form-inline">
				<label for="fullURL" class="sr-only">Full URL</label>
				<input required placeholder="URL" type="url" name="fullURL" id="fullURL" class="form-control col mr-2" />
				<button type="submit" class="btn btn-success">Shorten</button>
			</form>

			<table class="table table-striped">
				<thread>
					<tr>
						<th>Full URL</th>
						<th>Short URL</th>
						<th>Clicks</th>
						<th>Created At</th>
					</tr>
				</thread>
				<tbody>
					<% shortURLS.forEach(shortURL => { %>
					<tr>
						<td><a href="<%= shortURL.full %>"><%= shortURL.full %> </a></td>
						<td><a href="<%= shortURL.short %> "><%= shortURL.short %></a></td>
						<td><%= shortURL.clicks %></td>
						<td><%= shortURL.createdAt %></td>
					</tr>
					<% }); %>
				</tbody>
			</table>
		</div>
	</body>
</html>
